<!-- Show Student Details -->
<p><strong>First Name:</strong> <%= @student.first_name %></p>
<p><strong>Last Name:</strong> <%= @student.last_name %></p>
<p><strong>Gender:</strong> <%= @student.gender %></p>
<p><strong>Age:</strong> <%= @student.age %></p>
<p><strong>Address:</strong> <%= @student.address %></p>
<p><strong>Phone:</strong> <%= @student.phone %></p>

<!-- Link to go back -->
<%= link_to 'Back', students_path %>
